<section class="s-hero container-fluid p-0 overflow-hidden position-relative text-lg-right mb-5">
    <div class="container position-absolute position-z-1 position h-100">
        <div class="row align-items-center align-items-lg-stretch h-100">
            <div class="captions col-12 col-lg-6 text-center text-lg-left d-lg-flex flex-lg-wrap align-items-lg-center align-content-center p-3">
                <h2 class="text text-w-bold text-size-2 text-color-primary mb-0">Alcaldía de Medellín</h2>
                <p class="text text-size-1-5 text-color-primary mb-lg-0">Trámite Cambio de Propietario</p>
            </div>
        </div>
    </div>
    <img src="../../../img/enmascarar_grupo_2.png" alt="" class="img">
</section>