<div class="c-breadcrumbs col-12 d-flex flex-wrap align-items-center">
    <a href="" class="btn btn-reset text text-size-0-8 text-family-secondary text-color-secondary">Alcaldía de Medellín</a><span class="mx-2">/</span>
    <a href="" class="btn btn-reset text text-size-0-8 text-family-secondary text-color-black">Trámites y Servicios</a><span class="mx-2">/</span>
    <a href="" class="btn btn-reset text text-size-0-8 text-family-secondary text-color-black">Trámite Cambio de Propietario</a>
</div>