<div class="w-100 overflow-auto pb-3">

    <table class="c-table" cellspacing="0" cellpadding="0">
        <tbody>
        <tr style="height: 20px">
            <td class="s0 text text-w-semi text-color-black" dir="ltr" rowspan="2">Matrícula</td>
            <td class="s0 text text-w-semi text-color-black" dir="ltr" rowspan="2">Dirección</td>
            <td class="s1 text text-w-semi text-color-black" dir="ltr" colspan="3">Vendedor (es)</td>
            <td class="s1 text text-w-semi text-color-black" dir="ltr" colspan="3">Comprador (es)</td>
        </tr>
        <tr style="height: 20px">
            
            <td class="s1" dir="ltr">Nombre completo</td>
            <td class="s1" dir="ltr">Tipo de identificación</td>
            <td class="s1" dir="ltr">Tipo de identificación</td>
            <td class="s1" dir="ltr">Nombre completo</td>
            <td class="s1" dir="ltr">Tipo de identificación</td>
            <td class="s1" dir="ltr">Tipo de identificación</td>
        </tr>
        <tr class="form-group" style="height: 20px">
            <td class="s2 form-cell" dir="ltr"><input type="text" class="form-control"></td>
            <td class="s2 form-cell" dir="ltr"><input type="text" class="form-control"></td>
            <td class="s2 form-cell" dir="ltr"><input type="text" class="form-control"></td>
            <td class="s3 form-cell" dir="ltr"><input type="text" class="form-control"></td>
            <td class="s2 form-cell" dir="ltr"><input type="text" class="form-control"></td>
            <td class="s2 form-cell" dir="ltr"><input type="text" class="form-control"></td>
            <td class="s3 form-cell" dir="ltr"><input type="text" class="form-control"></td>
            <td class="s2 form-cell" dir="ltr"><input type="text" class="form-control"></td>
            <td class="s2 form-cell" dir="ltr">
                <span class="minus"><i class="icon fas fa-minus"></i></span>
                <span class="plus"><i class="icon fas fa-plus"></i></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
