{{> @s-hero }}

<section class="container">
    <div class="row mb-5">
        {{> @c-breadcrumbs }}
    </div>
    <div class="row mb-5">
        <div class="col-12 border-bottom border-bottom-quaternary">
            <h2 class="text text-w-bold text-size-1-7 text-color-primary mb-4 pb-3 border-bottom border-bottom-width-0-3 border-bottom-primary d-inline-block">Trámite cambio de propietario, poseedor u ocupante</h2>
            <p class="text text-color-black text-family-secondary">Aquí puedes realizar la actualización del nombre y documento de el / los propietario (s), poseedor u ocupante de un predio o una mejora en las base de datos catastral, conforme a los cambios que se presentan en la propiedad, posesión u ocupación del predio o mejora, basándose en los documentos justificativos de dominio. <strong>Por favor completa los siguientes datos:</strong></p>
            <p class="text text-family-secondary"><span class="text text-family-secondary text-color-seven">Nota:</span> Cuando se indique que un documento es opcional se quiere indicar que no es obligatorio aportarlo. Sin embargo, su aporte si le dará mayor celeridad a la atención de su trámite y, por tanto, menor tiempo de respuesta al mismo</p>
        </div>
    </div>
    <div class="row">
        {{> @c-form }}
    </div>
</section>