.c-form {
    .custom {
        &-file {
            position: relative;
            cursor: pointer;
            &:after {
                @extend %after-before-bas;
                content: 'Cargar archivo';
                font-weight: 500;
                height: 100%;
                width: auto;
                padding: .5rem 1rem;
                right: 0;
                top: 0;
                background-color: $color_secondary;
                display: block;
                z-index: 2;
                color: $color_white;
                font-size: .8rem;
                border-radius: 0 5px 5px 0;
                pointer-events: none;
            }
        }
    }
    .form {
        &-check {
            &-input {
                @include border-radius(2px);
                appearance: none;
                width: 1.5rem;
                height: 1.5rem;
                border: 1px solid #6C7071;
                background-color: $color_white;
                &:after {
                    @extend %after-before-bas;
                    @extend %transform_05;
                    content: "✓";
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color:  $color_white;
                    opacity: 0;
                }
                &:checked {
                    background-color: #35BCD9;
                    border-color: #1FAEEF;
                    &:after { opacity: 1; }
                }
            }
        }
    }
}