<form 
    class="c-form col-12 px-0 d-flex flex-wrap"
    action="">
    <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="" class="text text-color-black text-family-secondary text-size-0-9 text-w-semi pl-2 mb-2">Nombre completo</label>
        <input type="text" class="form-control text text-family-secondary disabled" placeholder="Nombre completo">
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="" class="text text-color-black text-family-secondary text-size-0-9 text-w-semi pl-2 mb-2">Tipo de identificación</label>
        <input type="text" class="form-control text text-family-secondary " placeholder="C.C. Cédula de ciudadanía">
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="" class="text text-color-black text-family-secondary text-size-0-9 text-w-semi pl-2 mb-2">Número de identificación</label>
        <input type="text" class="form-control text text-family-secondary " placeholder="Número de identificación">
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="" class="text text-color-black text-family-secondary text-size-0-9 text-w-semi pl-2 mb-2">Correo electrónico</label>
        <input type="text" class="form-control text text-family-secondary " placeholder="Correo electrónico">
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="" class="text text-color-black text-family-secondary text-size-0-9 text-w-semi pl-2 mb-2">En calidad de</label>
        <select name="" id="" class="form-control">
            <option value="seleccionar">Seleccionar…</option>
            <option value="">option 1</option>
            <option value="">option 2</option>
            <option value="">option 3</option>
        </select>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="" class="text text-color-black text-family-secondary text-size-0-9 text-w-semi pl-2 mb-2">Dirección de correspondencia y/o notificación</label>
        <input type="text" class="form-control text text-family-secondary " placeholder="Correo electrónico">
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="" class="text text-color-black text-family-secondary text-size-0-9 text-w-semi pl-2 mb-2">Número de contacto 1</label>
        <input type="text" class="form-control text text-family-secondary " placeholder="Número de contacto 1">
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="" class="text text-color-black text-family-secondary text-size-0-9 text-w-semi pl-2 mb-2">Número de contacto 2</label>
        <input type="text" class="form-control text text-family-secondary " placeholder="Número de contacto 2">
    </div>
    <div class="col-12 d-flex flex-wrap pt-3 border-top border-top-quaternary mb-4">
        <h3 class="text text-color-black text-family-secondary text-size-1-1 text-w-semi pl-2 mb-3 col-12 px-0">Tipo de solicitud</h3>
        <div class="custom-control custom-radio col-12 col-md-6 col-lg-3">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label text text-family-secondary text-color-black" for="customRadio1">Compraventa registrada</label>
        </div>
        <div class="custom-control custom-radio col-12 col-md-6 col-lg-3">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
            <label class="custom-control-label text text-family-secondary text-color-black" for="customRadio2">Compraventa de posesión material o de ocupación</label>
        </div>
        <div class="custom-control custom-radio col-12 col-md-6 col-lg-3">
            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
            <label class="custom-control-label text text-family-secondary text-color-black" for="customRadio3">Cumplimiento de ventas parciales</label>
        </div>
    </div>

    <div class="col-12 d-flex flex-wrap pt-3 border-top border-top-quaternary">
        <h3 class="text text-color-black text-family-secondary text-size-1-1 text-w-semi pl-2 mb-3 col-12 px-0">Cargar documentos</h3>
        <div class="custom-file col-12">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
</form>