// colors
$color_primary: #064884;
$color_secondary: #1FAEEF;
$color_tertiary: #E6EFFD;
$color_quaternary: #EFEFEF;
$color_five: #C4C4C4;
$color_six: #AD0404;
$color_seven: #FF9B52;
$color_eight: #f1f1f1;
$color_nine: #30ade1;
$color_ten: #7b7b7b;

$color_purple: #561a5a;
$color_yellow: #ffca51;
$color_red: #c00032;
// text
$color_text_primary: #777777;
// basic
$color_black: #000000;
$color_white: #FFFFFF;
$color_gray:#7c7c7c;
$color_transparent: transparent;